<?xml version="1.0" encoding="UTF-8"?>
<module>
	<name>Интеркасса</name>
	<settings>
		<variable>ik_merchant_id</variable>
		<name>Идентификатор кассы</name>
	</settings>
	<settings>
		<variable>ik_secret_key</variable>
		<name>Секретный ключ кассы</name>
	</settings>
	<settings>
		<variable>test_mode</variable>
		<name>Тестовый режим</name>
		<options>
			<name>Вкл.</name>
			<value>1</value>
		</options>
	</settings>
	<settings>
		<variable>ik_test_key</variable>
		<name>Тестовый ключ кассы</name>
	</settings>
	<settings>
		<variable>api_mode</variable>
		<name>Режим API</name>
		<options>
			<name>Вкл.</name>
			<value>1</value>
		</options>
	</settings>
	<settings>
		<variable>api_id</variable>
		<name>Интеркасса API ID</name>
	</settings>
	<settings>
		<variable>api_key</variable>
		<name>Интеркасса API KEY</name>
	</settings>
</module>
