<?xml version="1.0" encoding="UTF-8"?>
<module>
	<name>
		Интеркасса 2.0
	</name>
	<settings>
		<variable>ik_co_id</variable>
		<name>Идентификатор кассы</name>
	</settings>
	<settings>
		<variable>ik_secret_key</variable>
		<name>Секретный ключ</name>
	</settings>
	<settings>
		<variable>ik_test_key</variable>
		<name>Тестовый ключ</name>
	</settings>
	<!-- <settings>
		<variable>payment_mode</variable>
		<name>Режим оплаты</name>
		<options>
			<name>Тестовый режим</name>
			<value>1</value>
		</options>
		<options>
			<name>Рабочий режим</name>
			<value>2</value>
		</options>
	</settings>	 -->
</module>